*{
    margin:0px;
    padding:0px;
}

.container{
    background-color:white;
    margin-top:10px;
    padding:30px 0px 30px 90px;
    border:0px solid black;
}


.card{
    border:3px solid purple;
    background-color: #f0dff0;
    color: black;
    text-align: center;
    padding:10px;
    box-shadow: 5px 5px 10px #b2b1b1;
    height:450px;
    margin-bottom: 30px;
    line-height: 10px;
}
div .card-header{
    border:3px solid purple;
    background-color:purple;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
}


.btn-primary{
    background-color:transparent;
    color:black;
}
.btn-primary:hover{
    background-color: purple;
}
